html {
    font-family: "Montserrat";
    color: white;
}

/* header */
#header {
    background-color: #FFFFFF;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#website-title {
    color: #33664D;
    display: inline-block;
    margin-left: 25px;
}

/* tabs section */
#tabs {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.tab {
    display: inline;
    background-color: #33664D;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
}

.tab:hover {
    background-color: #006D91;
}

.tab h5, .tab i {
    display: inline-block;
}

/* habit tracker section */
#habit-tracker {
    background-color: #596C80;
    overflow: hidden;
}

/* today's habits sections */
#todays-habits {
    background-color: #33664D;
    height: 500px;
    border-radius: 5px;
    margin: 40px;
}

#todays-habits .header {
    padding-top: 10px;
    margin-left: 25px;
}

#todays-habits #list {
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}

#todays-habits #list .habit {
    background-color: #405080;
    height: 100px;
    width: 300px;
    border-radius: 5px;
    text-align: center;
}

/* habits table section */
#habit-table {
    background-color: #33664D;
    height: 500px;
    border-radius: 5px;
    margin: 40px;
}

#habit-table .header {
    padding-top: 10px;
    margin-left: 25px;
}

#habit-table .table-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#habit-table table {
    min-width: 50%;
}

#habit-table th {
    background-color: #405080;
    padding: 5px 15px 5px 15px;
    line-height: 2;
}

#habit-table td {
    background-color: #405080;
    padding: 10px;
    line-height: 2;
    position: relative;
}

.tooltip {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100%;
    margin-right: 10px;
    background: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
    z-index: 10;
}

.checkbox {
    cursor: pointer;
}

.edit-btn, .delete-btn {
    background-color: rgb(70, 70, 70);
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    font-family: "Montserrat";
    cursor: pointer;
}

.edit-btn:hover {
    color: #007bff;
}
.delete-btn:hover {
    color: #dc3545;
}

/* new habit section */
#new-habit {
    background-color: #33664D;
    height: 220px;
    border-radius: 5px;
    margin: 40px;
    position: relative;
}

#new-habit .header {
    padding-top: 10px;
    margin-left: 25px;
}

/* to do list section */
#to-do-list {
    background-color: #33664D;
    padding-bottom: 50px;
}

#to-do-list .header {
    padding-top: 10px;
    margin-left: 25px;
}

#to-do-list .table-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#to-do-list .table-container table {
    min-width: 35%;
}

#to-do-list th, #to-do-list td {
    background-color: #405080;
    padding: 5px;
    line-height: 2;
}

#to-do-list button {
    background-color: rgb(100, 100, 100);
    padding: 4px;
    border: 1px solid black;
    cursor: pointer;
}

#to-do-list button:hover {
    color: rgb(220, 60, 60)
}

#to-do-list .checkbox {
    cursor: pointer;
}

/* form  styles */
/* new habit form */

#new-habit form {
    background-color: #405080;
    color: white;
    width: 30%;
    height: 50px;
    margin-left: 25px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-habit #habit-name, #new-habit #submit {
    background-color: #405080;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    font-family: "Montserrat";
}

#new-habit #submit {
    cursor: pointer;
}

#new-habit #habit-name::placeholder {
    color: white;
}

/* to do list form */
#to-do-list .form-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#to-do-list form {
    background-color: #405080;
    min-width: 35%;
    border-radius: 5px;
    text-align: center;
    line-height: 2;
}

#to-do-list #task-name,
#to-do-list #task-due-date,
#to-do-list #submit {
    background-color: #405080;
    border: 1px solid black;
    border-radius: 3px;
    font-family: "Montserrat";
}

#to-do-list #submit {
    cursor: pointer;
}

#to-do-list #task-name::placeholder {
    color: black;
    opacity: 0.75;
}